nav {
	width: 100vw;
	height: 5rem;
	background-color: #282a3a;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu {
	margin-left: auto;
	padding: 1rem;
}

nav a {
	text-decoration: none;
	color: white;
	margin: 0 1rem;
}

nav a:hover {
	text-decoration: underline;
}
